<header>
  <h1>🐔 App Don Pollo</h1>

  <nav>
    <ul class="nav-menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/familias">Familias</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </nav>

  <p class="version">Versión {{ appVersion }}</p>

  @if(nombre) {
    <div class="usuario">
      <p><strong>Bienvenido, {{ nombre }}!</strong></p>
      <ul class="roles">
        @for (role of roles; track role) {
          <li>{{ role }}</li>
        }
      </ul>
      <button (click)="logout()">Cerrar sesión</button>
    </div>
  }
</header>

<main>
  <router-outlet />
</main>
